.sidebar {
  @apply bg-white h-screen overflow-auto xs:w-1/4 w-screen font-roboto flex flex-col relative;
}

.sidebarHidden {
  @apply bg-white h-screen overflow-auto xs:w-1/4 w-screen font-roboto xs:flex hidden flex-col relative;
}

.headingContainer {
  @apply h-[80px] flex items-center justify-center fixed bg-white xs:w-1/4 w-full;
}

/* height: 5pc;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
background-color: white;
width: 25%; */

.sidebar h3,
.sidebarHidden h3 {
  @apply xs:text-[30px] text-[25px] font-medium text-center;
}

.add {
  @apply text-white text-4xl;
}

.addButton {
  @apply bg-[#16008B] h-14 w-14 flex items-center justify-center rounded-full fixed bottom-6 xs:right-[76%] right-5 cursor-pointer;
}

.groups {
  @apply overflow-auto pt-20 flex flex-col flex-shrink-0 flex-grow-0;
}

.groupicon {
  @apply h-12 w-12 rounded-full flex items-center justify-center text-white ml-4;
}

.groupname {
  @apply flex items-center gap-4 cursor-pointer hover:bg-[#F1F1F1] h-16 rounded-lg;
}

.groupname p {
  @apply text-lg;
}
